@import './sidebar.scss';
@import './element-ui.scss';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    height: 100%;

    // 隐藏侧边导航的样式
    .hidden-sidebar {
        .sidebar-container {
            width: 50px;
        }

        .main-container {
            margin-left: 50px;
        }
    }

    // https://github.com/PanJiaChen/vue-element-admin/issues/330
    path {
        fill: inherit !important;
    }
}