@import './transition.scss';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a {
    text-decoration: none;
}

#app {
    height: 100%;

    // 隐藏侧边导航的样式
    .hidden-sidebar {
        .sidebar-container {
            width: 50px;
        }

        .main-container {
            margin-left: 50px;
        }
    }

    // reset element-ui style
    .el-submenu__title {
        padding: 0 !important;
    }

    .el-menu--horizontal {
        border-bottom: none;

        &>.el-menu-item {
            height: 50px;
            line-height: 50px;

            &.is-active {
                font-weight: bold;
                font-size: 1rem;
                color: #33c1ea !important;
                border-bottom: 4px solid #2cc4cf !important;
            }
        }

    }
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
    }
}